<!DOCTYPE html>
<html>
<head>
    <title>My First Webpage</title>
    <style>
        body{
            text-align: center;
        }
        button{
            background-color: blue;
            color: white;

        }
    </style>
</head>
<body>
    <h1>Amazon Review Sentiment Classifier</h1>
    <form method="post" action="/predict">
        <textarea rows="10" cols="50" name="content" placeholder="Type or paste review">{{review_text}}</textarea>
        <div>
            <button>Submit</button>
            <a href="/">Rest</a>
        </div>
    </form>

    {% if  prediction ==1 %}
        <h2>SPAM</h2>

    {% elif  prediction ==-1 %}
        <h2>NOT SPAM</h2>
    {% endif %}

</body>
</html>